.about-1 {
  width: 100%;
  min-height: 80vh;
  height: auto;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  gap: 3rem;
}
.about-1-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-1-1 > p:nth-child(1) {
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 2.5rem */
  letter-spacing: -0.0625rem;
  margin-bottom: 0.5rem;
}

.about-1-1 p:nth-child(2) {
  color: #969696;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 1.5rem */
  letter-spacing: -0.0375rem;
  margin-bottom: 2rem;
}

.about-1-1 p:nth-child(3) {
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 1.5rem */
  letter-spacing: -0.05rem;
  margin-bottom: 1rem;
}

.about-1-1-button {
  font-family: Pretendard Variable;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; /* 하이퍼링크 밑줄 제거 */
  & svg {
    filter: invert(1);
  }
}

.about-1-1-button:hover svg {
  filter: none;
}

.about-1-1-button:hover p {
  color: #111;
}

.about-1-1-button p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.05rem;
  margin: 0;
}

.about-1-1-button:hover {
  background-color: #fff;
}

.about-1-1-button:hover p {
  color: #111;
}

.about-1-2 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-1-2 img {
  width: 50%;
  max-height: 50vh;
  object-fit: cover;
  object-position: center 40%;
  aspect-ratio: 16 / 9;
}

/* 2번째 섹션 */

.about-2 {
  width: 100%;
  min-height: 80vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-2-1 {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-2-1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.about-2-1-1 p:nth-child(1) {
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 2.5rem */
}
.about-2-1-1 p:nth-child(2) {
  color: #969696;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 1.5rem */
  letter-spacing: -0.0375rem;
}
.about-2-1-2 {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 3.15rem */
  position: relative; /* 추가 */
}
.about-2-1-2 .tab {
  color: #969696;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 10px;
}

.about-2-1-2 .tab::after {
  display: none;
}
.about-2-1-2 .tab.active {
  color: #f8f9fa;
}
.about-2-1-2 .tab.active::after {
  width: 100%;
  height: 2rem;
}
.about-2-1-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  text-align: center;
  border: 1px solid #fff;
  padding: 4.5rem 9rem;
  width: 100%;
  border-radius: 1.5rem;
}
.about-2-1-2::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 2rem; /* 초기 너비를 2rem으로 설정 */
  height: 2px;
  background-color: #f8f9fa;
  transition: all 0.3s ease; /* transform 대신 all로 변경 */
  width: var(--underline-width, 2rem);
  left: var(--underline-left, 0);
}
.about-2-1-3-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  & img {
    filter: invert(1);
  }
}

.about-2-1-3-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-2-1-3-1-img {
  max-width: 6.25rem;
  height: auto;
}

.about-2-1-3-item p {
  white-space: nowrap; /* 줄바꿈 방지 */
  text-align: center; /* 중앙 정렬 */
  margin-top: 10px; /* 이미지와 텍스트 사이 여백 조정 */
}

.arrow {
  max-width: 3rem;
  height: auto;
}

.about-2-1-3-2-gap {
  max-width: 3rem;
}

.about-3 {
  width: 100%;
  min-height: 90vh;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
  gap: 3rem;
  font-family: Pretendard Variable;
}
.about-3-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Pretendard Variable;
}

.about-3-1 > p:nth-child(1) {
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 2.5rem */
  letter-spacing: -0.0625rem;
  margin-bottom: 0.5rem;
}

.about-3-1 p:nth-child(2) {
  color: #969696;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 1.5rem */
  letter-spacing: -0.0375rem;
  margin-bottom: 2rem;
}
.about-3-1 p:nth-child(3) {
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5; /* 1.5rem */
  letter-spacing: -0.05rem;
  margin-bottom: 1rem;
  word-break: keep-all;
  word-wrap: break-word;
}
.about-3-1-button {
  font-family: Pretendard Variable;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  & svg {
    filter: invert(1);
  }
}
.about-3-1-button.mobile {
  display: none;
}
.about-3-1-button.desktop {
  display: block;
  display: flex;
  flex-direction: row;
}
.about-3-1-button p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.05rem;
  margin: 0;
}

.about-3-1-button:hover {
  background-color: #fff;
}

.about-3-1-button:hover p {
  color: #111;
}
.about-3-1-button:hover svg {
  filter: none;
}

.about-3-1-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.about-3-1-2-1 {
  padding: 0 30rem;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./public/asset/about/about-3-1-2-1.png) 0px -570px / 100% 320% no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 25rem;
  height: auto;
  padding: 2rem 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 2rem;
  font-size: 1.25rem;
}
.about-3-1-2-1 p:first-child,
.about-3-1-2-2 p:first-child {
  font-size: 1.5rem;
}
.about-3-1-2-2 {
  padding: 0 30rem;
  background-size: cover;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./public/asset/about/about-3-1-2-2.png) center -400px / 100% auto no-repeat;
  min-height: 25rem;
  height: auto;
  padding: 2rem 30rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 2rem;
  font-size: 1.25rem;
}

.about-4 {
  width: 100%;
  min-height: 80vh;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  font-family: Pretendard Variable;
}
.about-4-1 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-4-1-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-4-1-1 p:nth-child(1) {
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 2.5rem */
  letter-spacing: -0.0625rem;
  margin-bottom: 0.5rem;
}

.about-4-1-1 p:nth-child(2) {
  color: #969696;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 1.5rem */
  letter-spacing: -0.0375rem;
  margin-bottom: 2rem;
}

.about-4-1-1 p:nth-child(3) {
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 1.5rem */
  letter-spacing: -0.05rem;
  margin-bottom: 1rem;
}
.about-4-1-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #111;
  border-radius: 1.5rem;
}
.about-4-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.about-4-2-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.75rem */
  letter-spacing: -0.0625rem;
  gap: 1rem;
}
.about-4-2-1 .tab {
  color: #969696;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 5px;
}
.about-4-2-1 .tab.active {
  color: #f8f9fa;
}
.about-4-2-1 .tab.active::after {
  width: 100%;
}
.about-4-2-2 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 3rem 5rem;
  border-radius: 1.5rem;
  border: 1px solid;
}
.about-4-2-2-1-img {
  width: 6.25rem;
  height: 6.25rem;
}
.about-4-2-2-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  & img {
    filter: invert(1);
  }
}
.about-4-2-2-item p {
  margin-top: 10px; /* 이미지와 텍스트 사이 여백 조정 */
  text-align: center;
}

.about-4-2-2-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-4-2-2-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-4-2-2-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-4-2-2-2 p {
  width: 6.25rem;
}

@media (max-width: 1024px) {
  .about-1 {
    padding: 7rem 0;
  }
  .about-1-1 {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    gap: 0.25rem;
    padding: 0 1.25rem;

    > p:nth-child(1) {
      font-size: 2rem;
      margin-bottom: 0;
      text-align: left;
    }
    > p:nth-child(2) {
      font-size: 1rem;
      margin-bottom: 0;
      text-align: left;
      align-self: flex-end; /* 글자를 바닥에 붙이기 위해 추가 */
    }
    > p:nth-child(3) {
      font-size: 0.85rem;
      font-weight: 300;
      line-height: 140%;
      letter-spacing: -0.02625rem;
      grid-column: 1 / -1;
      text-align: left;
      margin-bottom: 2.5rem;
      margin-top: 1rem;
    }
    > :nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      justify-self: end;
      align-self: start;
      width: auto;
    }
  }
  .about-1-2 {
    overflow-x: auto;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    & img {
      width: 100%;
      flex-shrink: 0;
    }
  }
  .about-2 {
    padding: 0 1.25rem;
  }
  .about-2-1 {
    width: 100%;
  }
  .about-2-1-1 {
    gap: 0.25rem;
    > p:nth-child(1) {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 100%; /* 1.5rem */
      letter-spacing: -0.0375rem;
    }
    > p:nth-child(2) {
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: 100%; /* 1rem */
      letter-spacing: -0.025rem;
    }
  }
  .about-2-1-2 {
    width: 40%;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.4rem */
    &.about-2-1-2::after {
      height: 1px;
    }
  }
  .about-2-1-3 {
    flex-direction: column;
    border: none;
    padding: 0;
    & .arrow {
      display: none;
    }
    & .about-2-1-3-2-gap {
      display: none;
    }
    & .about-2-1-3-item p {
      margin-top: 0.5rem;
    }
  }
  .about-3 {
    padding-top: 7rem;
    gap: 2rem;

    .about-3-1 {
      flex-direction: row;
      padding: 0 1.25rem;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 1rem;
      p:nth-child(1) {
        font-size: 2rem;
        letter-spacing: -0.05rem;
        margin: 0;
      }
      p:nth-child(2) {
        margin: 0;
        font-size: 1rem;
        letter-spacing: -0.025rem;
      }
      p:nth-child(3) {
        width: 100%;
        margin: 0;
        text-align: left;
        font-size: 0.875rem;

        line-height: 140%; /* 1.225rem */
        letter-spacing: -0.04375rem;
      }
    }
  }
  .about-3-1-2-1,
  .about-3-1-2-2 {
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%; /* 1rem */
    letter-spacing: -0.025rem;
    gap: 0.75rem;
    min-height: 10rem;
    aspect-ratio: 16 / 9;
  }

  .about-3-1-2-1 {
    background:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./public/asset/about/about-3-1-2-1.png) center / cover no-repeat;
  }
  .about-3-1-2-2 {
    background:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./public/asset/about/about-3-1-2-2.png) center / cover no-repeat;
  }
  .about-3-1-2-1 p,
  .about-3-1-2-2 p {
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 1rem */
    letter-spacing: -0.025rem;
  }
  .about-3-1-2-1 p:nth-child(2),
  .about-3-1-2-2 p:nth-child(2) {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.225rem */
    letter-spacing: -0.04375rem;
  }

  .about-3-1-button {
    padding: 0.5rem 1rem;
    > p {
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .about-3-1-button.mobile {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
  }
  .about-3-1-button.desktop {
    display: none;
  }
  .about-4 {
    padding: 7rem 1.25rem 0;
    & .about-4-1 {
      width: 100%;
    }
    & .about-4-1-1 {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-end;

      gap: 1rem;
      p {
        text-align: left;
        margin: 0;
      }
      p:nth-child(1) {
        font-size: 2rem;
        letter-spacing: -0.05rem;
      }
      p:nth-child(2) {
        font-size: 1rem;
        letter-spacing: -0.025rem;
      }
      p:nth-child(3) {
        font-size: 0.875rem;
        line-height: 140%; /* 1.225rem */
        letter-spacing: -0.04375rem;
      }
    }
    & .about-4-2-1 {
      font-size: 1rem;
      line-height: 140%; /* 1.4rem */
      letter-spacing: -0.05rem;
    }
    & .about-4-2-2 {
      flex-direction: column;
      border: none;
      padding: 0;
      & .arrow {
        display: none;
      }
      & .about-4-2-2-gap {
        display: none;
      }
    }
  }
}
