.work-1 {
  width: 100%;
  height: 35vh;
  padding: 5vh 60px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  gap: 2.5rem;
}
.work-1-1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 2.5rem;
}
.work-1-1 p {
  color: var(--Text-text-primary, #111);
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 6rem */
  letter-spacing: -0.3rem;
}
.work-1-1-1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.work-1-1-1 button {
  background-color: #ffffff;
  color: #000000;
  font-family: Pretendard Variable;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1.25rem */
  letter-spacing: -0.0625rem;
  border: 1px solid #000000;
  padding: 0.5rem 1.5rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.work-1-1-1 button:hover {
  background-color: #000000;
  color: #ffffff;
}

.work-1-2 {
  width: 100%;
  height: 100%;
  padding: 5vh 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.work-1-2-1 {
  display: grid;
  width: 100%;
  height: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.5rem;
  aspect-ratio: 16 / 9;
}
.work-1-2-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.work-1-2-1 img:hover {
  filter: brightness(0.4);
}
.work-1-2-2 {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Pretendard Variable;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1rem */
  letter-spacing: -0.05rem;
}
.work-1-2-2 button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

/* 첫 번째 이미지 좌우 반전 */
.prev {
  transform: scaleX(-1);
}

/* 모달 */
.modal {
  display: flex;
  position: fixed; /* 변경: fixed로 설정하여 뷰포트 기준으로 위치 고정 */
  opacity: 0; /* 초기에는 투명하게 */
  visibility: hidden; /* 초기에는 보이지 않게 */
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center; /* 추가: 수평 중앙 정렬 */
  align-items: center; /* 추가: 수직 중앙 정렬 */
  overflow: hidden; /* 추가: 모달 내부 스크롤 숨기기 */
  font-family: Pretendard Variable;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  gap: 1.5rem;
}

.close {
  position: absolute;
  color: #aaa;
  cursor: pointer;
  align-self: flex-end;
  border: 1px solid #ffffff;
  padding: 1rem;
  transition: background-color 0.3s;
  line-height: 0;
}

.close:hover,
.close:focus {
  background-color: #ffffff;
}

.close:hover img,
.close:focus img {
  filter: brightness(0); /* 이미지를 어둡게 만듭니다 */
}

#videoTitle {
  margin-top: 0;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 3.5rem */
  letter-spacing: -0.125rem;
}

#videoPlayer {
  flex-grow: 1;
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 비율 유지 */
}

#videoPlayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoDescription {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--Text-text-accent, #f8f9fa);
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.75rem */
  letter-spacing: -0.03125rem;
  gap: 2rem;
}

.work-1-2-1 {
  display: grid;
  width: 100%;
  height: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.5rem;
  aspect-ratio: 16 / 9;
}

.thumbnail-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thumbnail-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
}

.thumbnail-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    filter 0.3s ease;
  text-align: center;
}

.thumbnail-container:hover img {
  filter: brightness(0.4) blur(5px);
}

.thumbnail-container:hover .thumbnail-title {
  opacity: 1;
}
